.clients {

    &__content {
        padding-bottom: 150px;
    }
    &__content-text {
        text-align: center;
        padding-bottom: 50px;
    }
    &__content-text h2 {
        @include Font($fw:700, $fs:34px, $lh:57px, $ls:0px);
        padding-bottom: 8px;
        color: $color-text-gray;
    }
    &__content-text p {
        max-width: 649px;
        margin: 0 auto;
        @include Font($fw:500, $fs:16px, $lh:28px, $ls:0.2px);
        color: $color-text-gray;
    }
    &__content-list ul {
        @include Display ($justify:space-between, $items:start);
        gap: 64px;
    }
    &__content-list ul li {
        width: 327px;
        height: 236px;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        padding: 28px 26px 24px 26px;
    }
    &__content-list ul li img {
        margin-bottom: 16px;
    }
    &__content-list ul li p {
        @include Font($fw:400, $fs:16px, $lh:28px, $ls:0px);
        padding-bottom: 16px;
        color: $color-text-light;
    }
}