.clients {

    &__content {
        padding-bottom: 150px;
    }
    &__content-text {
        text-align: center;
        padding-bottom: 50px;
    }
    &__content-text h2 {
        font-weight: 700;
        font-size: 34px;
        line-height: 57px;
        padding-bottom: 8px;
        color: $color-text-gray;
    }
    &__content-text p {
        max-width: 649px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 02px;
        color: $color-text-gray;
    }
    &__content-list ul {
        display: flex;
        justify-content: space-between;
        gap: 64px;
    }
    &__content-list ul li {
        width: 327px;
        height: 236px;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        padding: 28px 26px 24px 26px;
    }
    &__content-list ul li img {
        margin-bottom: 16px;
    }
    &__content-list ul li p {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 16px;
        color: $color-text-light;
    }
}