.customer {
    @include Display ($justify:space-between, $items:start);
    padding-bottom: 150px;

    &__content {
        max-width: 486px;
        @include Display ($justify:center, $items:start);
        flex-direction: column;
    }

    &__content strong {
        @include Font($fw:600, $fs:16px, $lh:100%, $ls:0px);
        color: $color-text-gray;
        padding-bottom: 8px;
    }

    &__content h2 {
        @include Font($fw:700, $fs:32px, $lh:100%, $ls:0px);
        color: $color-text-gray;
        padding-bottom: 23px;
    }

    &__content p {
        font-size: 16px;
        color: $color-text-gray;
        padding-bottom: 30px;
    }

    &__content-list li {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 30px;
    }
}