.footer-wrapper p {
    text-align: center;
    padding-top: 10px;
}

.footer {
  width: 1109px;
  height: 205px;
  @include Display ($justify:space-between, $items:start);

  &__logo a {
    display: flex;
    gap: 16px;
  }
  &__logo h2 {
    @include Font($fw:700, $fs:30px, $lh:28px, $ls:0px);
    color: $color-text-gray;
  }
  &__socials {
    margin-top: 25px;
    display: flex;
    gap: 16px;
  }
  &__secondpart a,
  &__thirdpart a {
    padding-bottom: 15px;
  }
  &__secondpart a strong,
  &__thirdpart a strong {
    @include Font($fw:500, $fs:20px, $lh:30px, $ls:0px);
    color: $color-text-gray;
  }
  &__secondpart ul li a,
  &__thirdpart ul li a {
    @include Font($fw:400, $fs:16px, $lh:35px, $ls:0px);
    color: $color-text-gray;
  }
  &__input p {
    width: 280px;
    height: 57px;
    @include Font($fw:500, $fs:20px, $lh:30px, $ls:0px);
    color: $color-text-gray;
  }
  &__input form input {
    width: 325px;
    height: 48px;
    margin: 34px 0 21px 0;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    box-shadow: 0px 1px 2px 0px #00000040;
  }
  &__input button {
    width: 140px;
    height: 39px;
    padding: 8px 15px 7px 15px;
    border-radius: 4px;
    border: none;
    background: $color-button-color;
    color: $color-white;
    @include Font($fw:700, $fs:16px, $lh:100%, $ls:0px);
    transition: all 0.3s;
  }
  &__input button:hover {
    cursor: pointer;
    background: $color-white;
    color: $color-button-color;
    border: 1px solid $color-button-color;
    box-shadow: 0px 0px 20px 3px $color-button-color;
  }
}
