.management {
    @include Display ($justify:space-between, $items:start);
    padding: 150px 0;

    &__content {
        max-width: 486px;
        height: 435px;
    }

    &__content-text strong {
        @include Font($fw:600, $fs:16px, $lh:100%, $ls:0px);
       color: $color-text-gray;
       padding-bottom: 8px;
    }

    &__content-text h2 {
        @include Font($fw:700, $fs:32px, $lh:100%, $ls:0px);
        color: $color-text-gray;
        padding-bottom: 131px;
    }

    &__content-list strong {
        @include Font($fw:600, $fs:16px, $lh:100%, $ls:0px);
        color: $color-text-gray;
        padding-bottom: 12px;
    }

    &__content-list p {
        @include Font($fw:400, $fs:16px, $lh:26px, $ls:0px);
        color: $color-text-gray;
        padding-bottom: 25px;
    }
}