.product-section {
  background-image: url(../../images/bg-product-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product {
  margin-top: 115px;
  height: 543px;

  &__title {
    max-width: 535px;
    height: 96px;
    margin: 0 auto;
    text-align: center;
    @include Font($fw:700, $fs:32px, $lh:100%, $ls:0px);
    color: $color-text-gray;
  }

  &__list-nav {
    height: 204px;
    @include Display ($justify:space-between, $items:start);
    margin-top: 50px;
    margin-bottom: 34px;
  }

  &__list-nav li {
    width: 240px;
    height: 178px;
  }

  &__list-nav li h3 {
    padding-top: 30px;
    padding-bottom: 13px;
    @include Font($fw:600, $fs:22px, $lh:100%, $ls:0px);
    color: $color-text-gray;
  }

  &__list-nav li p {
    @include Font($fw:400, $fs:16px, $lh:26px, $ls:0px);
    color: $color-text-gray;
  }

  &__btns-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    border: none;
    background: $color-button-color;
    color: $color-white;
    @include Font($fw:700, $fs:16px, $lh:100%, $ls:0px);
    transition: all 0.3s;
  }

  &__btn:hover {
    cursor: pointer;
    background: $color-white;
    color: $color-button-color;
    border: 1px solid $color-button-color;
    box-shadow: 0px 0px 20px 3px $color-button-color;
  }
}
