.top {
  // height: 556px;
  padding-top: 25px;
  display: flex;

  &__title {
    max-width: 458px;
    @include Display ($justify:center, $items:start);
    flex-direction: column;
  }

  &__title h2 {
    max-width: 420px;
    @include Font($fw:700, $fs:40px, $lh:60px, $ls:0px);
    color: $color-text-gray;
  }

  &__title p {
    margin-top: 18px;
    margin-bottom: 45px;
    @include Font($fw:400, $fs:18px, $lh:28px, $ls:0px);
    color: $color-text-gray;
  }

  &__btns {
    @include Display ($justify:start, $items:center);
    gap: 30px;
  }

  &__btns button {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    border: none;
    background: $color-button-color;
    color: $color-white;
    @include Font($fw:700, $fs:16px, $lh:100%, $ls:0px);
    transition: all 0.3s;
  }

  &__btns button:hover {
    cursor: pointer;
    background: $color-white;
    color: $color-button-color;
    border: 1px solid $color-button-color;
    box-shadow: 0px 0px 20px 3px $color-button-color;
  }

  &__btns a {
    @include Font($fw:600, $fs:16px, $lh:100%, $ls:0px);
    color: $color-button-color;
    display: flex;
    gap: 9px;
  }

  &__image-img {
    display: block;
  }
}
.media-top {
  display: none;
}

@media (max-width:1070px) {
  .top {
    flex-direction: column-reverse;
  }
  .top__image {
    margin: 0 auto;
  }
  .top__title {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width:510px) {
  .media-top {
    display: block;
  }
  .top__image-img {
    display: none;
  }
}